.Login
  background white !important
  min-width 319px
  max-width 320px
  padding 1rem
  &-title h3
    margin-top 0
    text-align center
  &-submit
    margin-top 1rem
    & input[type="submit"]
        color white
